body {
  background-color: #2a2a2a;
}

.MarkdownEditor {
  font-family: Microsoft Jhenghei;
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 15%;
  padding: 20px 40px;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  border-radius: 5px;
  box-shadow: 7px 7px 0px #fff;
}
.MarkdownEditor h3 {
  color: #fff;
}

.content, .text_area {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
}
